<h1>Usuarios</h1>
	<form>
		<label>Id</label>
		<input type="text" [(ngModel)]="newUser.id" name="id">

		<label>Login</label>
		<input type="text" [(ngModel)]="newUser.login" name="login">

		<label>password</label>
		<input type="text" [(ngModel)]="newUser.password" name="password">

		<button (click)="pushUser()"> Adicionar </button>
	</form>

    <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuários cadastrados</h4>

	<span *ngIf="users == 0">Não há usuários cadastrados</span>

	<table *ngIf="users != 0" class="table table-striped table-bordered">
		<tr>
			<th>Id</th>
			<th>Login</th>
            <th>Password</th>
            <th> </th>

		</tr>
		<tr *ngFor="let user of users | async">
			<td>{{user.id}}</td>
            <td>{{user.login}}</td>
            <td>{{user.password}}</td>
		    <td><a href="#"><span (click)="deleteUser(user.$key)" class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
	</table>