.navbar-default {
  background-color: #85e866;

}
.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #04891f;
}

.navbar-default .navbar-text {
  color: #ffffff;
  
}

.jumbotron {	
	max-width: 600px;
	padding: 20px;
	background: #ffffff;
	border-radius: 5%;
}

.nav {	
	max-width: 200px;
	padding: 10px;
}

textarea {
   resize: none;
}
